
/*
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/open-sans/OpenSans-Regular.eot');
	src: url('fonts/open-sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-Regular.woff') format('woff'),
		url('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/
